.awesome{
    width: 100%;
    margin-top: 4px;
}
.awesome-page{
    width: 1170px;
    margin: 0 auto;
    background-color: #FFFFFF;
}
.awesome-subject{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.awesome-subject__title{
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    width: 1170px;
    height: 150px;
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content:center
}
.awesome-subject__line{
    width: 170px;
    height: 1px;
    background-color: #EC7979;
    margin: 0 auto;
    margin-bottom: 40px;
}
.awesome-subject__subtitle{
    color: #86878B;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 1170px;
    height: 21px;
    margin-bottom: 79px;
}
.nav{
    width: 100%;
    display: inline-block;
}
.nav-box{
width: 370px;
display: inline-block;
margin-right: 8px;
margin-left: 8px;
}
.nav-box__img{
    width: 170px;
    height: 170px;
    display: block;
    margin: 0 auto;
}
.nav-box__link{
    color: #000;
    text-align: center;
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    text-decoration: none;
    width: 369px;
    height: 100px;
    display: block;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 8px;
}
.nav-box__text{
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 370px;
    height: 105px;
}
@media (max-width:1190px) {
    .awesome-page{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-box{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0px;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
    }
    .awesome-subject__title{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .awesome-subject__subtitle{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .awesome-subject{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    }
    .nav-box__img{
        display: flex;
        margin: 0;
        width: auto;
        height: auto;
    }
    .nav-box__link{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-box__text{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
    }
}
@media (max-width:600px) {
    .nav{
        flex-direction: column;
    }
    .nav-box{
        margin: 0;
    }
}


