*{
    box-sizing:border-box
}
body{
    display: block;
}
.banner{
    width: 100%;
    height: 1026px;
}
.baner-img{
    width: 100%;
    height: 442px;
    position: relative;
    background:rgba(0, 0, 0, 0.473)
}
.baner__pictures{
    width: 100%;
    height: 1026px;

}
.baner-page{
    width: 1170px;
    margin: 0 auto;
    
}
.banner-page-left__link{
    text-decoration: none ;
}