.footer {
    width: 100%;
    height: 164px;
    background:black;
}
.footer-page{
    width: 1170px;
    height: 164px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-page-content__text{
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footer-page-media{
    width: 450px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
@media (max-width:1190px) {
    .footer{
        height: auto;
    }
    .footer-page{
        width: 100%;
        /* height: auto; */
    }
}
@media (max-width:490px) {
    .footer-page-media{
        width: 100%;
    }
}
@media (max-width:370px) {
    .footer-page-media__icon{
        width: 26px;
        height: 26px;
    }

    .footer-page-media__svg{
        width: 24px;
        height: 24px;
    }
    .footer-page-content__text{
        font-size: 14px;
    }
}