*{
    box-sizing:border-box
}
body{
    display: block;
}
.media{
    width: 100%;
    height: 140px;
    background: #F8EFEF;
    display: flex;
    align-items: center;
}
.media-page{
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin: 0 auto;
}
.media-page-content{
    width: 470px;
    height: 120px;
    display: block;
}

.media-page-content__title{
    width: 470px;
    height: 60px;
    margin-bottom: 18px;
    margin-top: 0px;
    display: flex;
    align-items: center;
    color: #333;
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.media-page-content__subtitle{
    color: #86878B;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.media-page-content-icon{
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.media-page-content-icon__link:hover{
    position: relative;
    bottom: 20px;
}