*{
    box-sizing:border-box
}
body{
    display: block;
}
.pricing{
    width: 100%;
    background-color: #F5F5F5;
}
.pricing-page{
    width: 1170px;
    margin: 0 auto;
}
.pricing-page-subject{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pricing-page-subject__title{
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    width: 1170px;
    height: 150px;
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content:center
}
.pricing-page-subject__line{
    width: 170px;
    height: 1px;
    background-color: #EC7979;
    margin: 0 auto;
    margin-bottom: 40px;
}
.pricing-page-subject__subtitle{
    color: #86878B;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 1170px;
    height: 21px;
    margin-bottom: 79px;
}
.pricing-page-content{
    display: flex;
    justify-content: space-between;
}
.pricing-page-content-collum{
    display: flex;
    flex-direction: column;
    /* margin-right: 30px; */
    width: 370px;
    height: 510px;
    margin-bottom: 50px;
    align-items:center
}
.pricing-page-content-collum__boxshadow{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.pricing-page-content-collum__title{
    display: flex;
    align-items: center;
    justify-content:center;
    width: 370px;
    height: 60px;
    background: #333;
    color: #FFF;
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    border: 2px solid #F5F5F5;
}
.pricing-page-content-collum__subtitle{
    width: 370px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content:center;
    color: #FFF;
    font-family: Raleway;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: #333;
    border: 2px solid #F5F5F5;
}
.pricing-page-content-collum__text{
    width: 370px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content:center;
    background: #333;
    color: rgba(255, 255, 255, 0.50);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 2px solid #F5F5F5;
}
.pricing-page-content-collum__content{
    width: 370px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content:center;
    border: 2px solid #F5F5F5;
    color: #86878B;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    background: #FFF;
}

